body {
  font-family: Space Grotesk;
}
.display-1 {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 7.5rem;
}
.display-2 {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1.8rem;
  line-height: 1.3;
}
.display-4 > .mbr-iconfont {
  font-size: 2.25rem;
}
.display-5 {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 2.15rem;
  line-height: 1.2;
}
.display-5 > .mbr-iconfont {
  font-size: 2.6875rem;
}
.display-7 {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1.2rem;
  line-height: 1.4;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 4.8rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 4.2rem;
    font-size: calc( 2.75rem + (6 - 2.75) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.75rem + (6 - 2.75) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 1.44rem;
    font-size: calc( 1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.72rem;
    font-size: calc( 1.4024999999999999rem + (2.15 - 1.4024999999999999) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.2 * (1.4024999999999999rem + (2.15 - 1.4024999999999999) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #ee2524 !important;
}
.bg-success {
  background-color: #fc9d4f !important;
}
.bg-info {
  background-color: #ca408e !important;
}
.bg-warning {
  background-color: #3fca3f !important;
}
.bg-danger {
  background-color: #099c09 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #ee2524 !important;
  border-color: #ee2524 !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #1fffff !important;
  background-color: #ffffff !important;
  border-color: #ee2524 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #309797 !important;
  border-color: #309797 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ef2e2e !important;
  background-color: #ffffff !important;
  border-color: #309797 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-info,
.btn-info:active {
  background-color: #ca408e !important;
  border-color: #ca408e !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ef2e2e !important;
  background-color: #ffffff !important;
  border-color: #ca408e !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-success,
.btn-success:active {
  background-color: #fc9d4f !important;
  border-color: #fc9d4f !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ef2e2e !important;
  background-color: #ffffff !important;
  border-color: #fc9d4f !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #3fca3f !important;
  border-color: #3fca3f !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ef2e2e !important;
  background-color: #ffffff !important;
  border-color: #3fca3f !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #099c09 !important;
  border-color: #099c09 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ef2e2e !important;
  background-color: #ffffff !important;
  border-color: #099c09 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-white,
.btn-white:active {
  background-color: #fbfbfb !important;
  border-color: #fbfbfb !important;
  color: #ffffff !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #ef2e2e !important;
  background-color: #ffffff !important;
  border-color: #fbfbfb !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #ffffff !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-white {
  color: #ee2524 !important;
}
.btn-black,
.btn-black:active {
  background-color: #000000 !important;
  border-color: #000000 !important;
  color: #fafafa !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ef2525 !important;
  background-color: #fafafa !important;
  border-color: #000000 !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #fafafa !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent !important;
  color: #ee2524;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ae0e0d !important;
  background-color: transparent!important;
  border-color: transparent !important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #ee2524 !important;
  border-color: #ee2524 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent !important;
  color: #309797;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #1b5555 !important;
  background-color: transparent!important;
  border-color: transparent !important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #309797 !important;
  border-color: #309797 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent !important;
  color: #ca408e;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #8c2760 !important;
  background-color: transparent!important;
  border-color: transparent !important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #ca408e !important;
  border-color: #ca408e !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent !important;
  color: #fc9d4f;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #f06f04 !important;
  background-color: transparent!important;
  border-color: transparent !important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #fc9d4f !important;
  border-color: #fc9d4f !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent !important;
  color: #3fca3f;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #278c27 !important;
  background-color: transparent!important;
  border-color: transparent !important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #3fca3f !important;
  border-color: #3fca3f !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent !important;
  color: #099c09;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #044a04 !important;
  background-color: transparent!important;
  border-color: transparent !important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #099c09 !important;
  border-color: #099c09 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent !important;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent !important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent !important;
  color: #fbfbfb;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #d0d0d0 !important;
  background-color: transparent!important;
  border-color: transparent !important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7b7b7b !important;
  background-color: #fbfbfb !important;
  border-color: #fbfbfb !important;
}
.text-primary {
  color: #ee2524 !important;
}
.text-secondary {
  color: #309797 !important;
}
.text-success {
  color: #fc9d4f !important;
}
.text-info {
  color: #ca408e !important;
}
.text-warning {
  color: #3fca3f !important;
}
.text-danger {
  color: #099c09 !important;
}
.text-white {
  color: #fbfbfb !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #a00d0c !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #174a4a !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #e16804 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #802458 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #238023 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #033c03 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c8c8c8 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #ee2524;
}
.nav-tabs .nav-link:not(.active) {
  color: #000000;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #ca408e;
}
.alert-warning {
  background-color: #3fca3f;
}
.alert-danger {
  background-color: #099c09;
}
.mbr-gallery-filter li.active .btn {
  background-color: #ee2524;
  border-color: #ee2524;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #ee2524;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #fde1e1;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #f6e0ec;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #dff6df;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #31f331;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1.8rem;
  line-height: 1.3;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 2.25rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #ee2524 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1.8rem;
  line-height: 1.3;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 2.25rem;
}
blockquote {
  border-color: #ee2524;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #ee2524;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #ee2524;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #ee2524;
  border-bottom-color: #ee2524;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #ee2524 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #309797 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23ee2524' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
a:hover {
  background-image: none !important;
}
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  min-width: auto !important;
  max-width: 95% !important;
}
.row {
  margin-left: 0;
  margin-right: 0;
  justify-content: center;
}
.row > [class*="col"] {
  padding-left: 0;
  padding-right: 0;
}
.mbr-section-btn .btn {
  min-width: 100px;
  border-radius: 0;
  padding: 1em 3em;
  line-height: 1.25;
  font-weight: 400 !important;
  box-shadow: none !important;
  border: 2px solid currentColor;
  position: relative;
  overflow: hidden;
}
.mbr-section-btn .btn .mbr-iconfont {
  position: relative;
  z-index: 1000;
}
.mbr-section-btn .btn-transform {
  position: relative;
  overflow: hidden;
  transition: 0.1s all !important;
}
.mbr-section-btn .btn-transform .btn-transform-1 {
  transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  transition: 0.1s all !important;
  animation: btn-move-out 0.3s ease-in-out;
}
.mbr-section-btn .btn {
  transition: 0.1s all !important;
}
.mbr-section-btn .btn:hover .btn-transform .btn-transform-1 {
  animation: btn-move 0.3s ease-in-out;
}
.mbr-section-btn .btn-primary:hover,
.mbr-section-btn .btn-primary-outline:hover,
.mbr-section-btn .btn-primary:focus,
.mbr-section-btn .btn-primary-outline:focus,
.mbr-section-btn .btn-primary:active,
.mbr-section-btn .btn-primary-outline:active {
  color: #ee2524 !important;
}
@media (max-width: 575px) {
  .mbr-section-btn .btn {
    padding: 12px 36px;
    width: 100%;
    box-shadow: none !important;
  }
}
b {
  font-weight: 600 !important;
}
@keyframes btn-move {
  0% {
    transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
  49% {
    transform: translate3d(0px, -100%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
  50% {
    transform: translate3d(0px, -100%, 0px) scale3d(1, 0, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
  51% {
    transform: translate3d(0px, 100%, 0px) scale3d(1, 0, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
  52% {
    transform: translate3d(0px, 100%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
  100% {
    transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
}
@keyframes btn-move-out {
  0% {
    transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
  49% {
    transform: translate3d(0px, 100%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
  50% {
    transform: translate3d(0px, 100%, 0px) scale3d(1, 0, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
  51% {
    transform: translate3d(0px, -100%, 0px) scale3d(1, 0, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
  52% {
    transform: translate3d(0px, -100%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
  100% {
    transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
}
.cid-t4dleiFABW {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-t4dleiFABW nav.navbar {
  position: fixed;
}
.cid-t4dleiFABW .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-t4dleiFABW .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-t4dleiFABW .dropdown-menu .dropdown-submenu {
  left: 100% !important;
}
.cid-t4dleiFABW .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-t4dleiFABW .dropdown-item:hover,
.cid-t4dleiFABW .dropdown-item:focus {
  background: #ee2524 !important;
  color: white !important;
}
.cid-t4dleiFABW .dropdown-item:hover span {
  color: white;
}
.cid-t4dleiFABW .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-t4dleiFABW .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-t4dleiFABW .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-t4dleiFABW .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-t4dleiFABW .nav-link {
  position: relative;
}
.cid-t4dleiFABW .container {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  max-width: 100% !important;
}
.cid-t4dleiFABW .dropdown-menu,
.cid-t4dleiFABW .navbar.opened {
  background: #fbfbfb !important;
}
.cid-t4dleiFABW .nav-item:focus,
.cid-t4dleiFABW .nav-link:focus {
  outline: none;
}
.cid-t4dleiFABW .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-t4dleiFABW .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-t4dleiFABW .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-t4dleiFABW .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-t4dleiFABW .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-t4dleiFABW .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-t4dleiFABW .navbar {
  min-height: 64px !important;
  transition: .5s all !important;
  border-bottom: 1px solid #000000;
  background: #fbfbfb;
  padding: 0 !important;
  border-radius: 0 !important;
  display: flex;
  flex-direction: column;
}
.cid-t4dleiFABW .navbar.opened {
  transition: all 0.3s;
}
.cid-t4dleiFABW .navbar.opened .dropdown-menu {
  top: 0;
}
.cid-t4dleiFABW .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-t4dleiFABW .navbar .navbar-logo img {
  width: auto;
}
.cid-t4dleiFABW .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
  transition: .5s all !important;
}
.cid-t4dleiFABW .navbar.collapsed {
  justify-content: center;
}
.cid-t4dleiFABW .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-t4dleiFABW .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-t4dleiFABW .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-t4dleiFABW .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-t4dleiFABW .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-t4dleiFABW .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-t4dleiFABW .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-t4dleiFABW .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.cid-t4dleiFABW .navbar .nav-item .nav-link::before {
  display: none;
}
.cid-t4dleiFABW .navbar .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-t4dleiFABW .navbar .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-t4dleiFABW .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 40%;
}
.cid-t4dleiFABW .navbar .navbar-logo img {
  height: 3rem !important;
}
.cid-t4dleiFABW .navbar ul.navbar-nav li {
  margin: auto;
}
.cid-t4dleiFABW .navbar .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem !important;
  text-align: center;
}
.cid-t4dleiFABW .navbar .navbar-brand {
  flex-shrink: initial;
  flex-basis: auto;
  word-break: break-word;
  padding-right: 2rem;
}
.cid-t4dleiFABW .navbar .navbar-toggler {
  flex-basis: auto;
}
.cid-t4dleiFABW .navbar.navbar-short {
  min-height: 64px;
}
.cid-t4dleiFABW .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-t4dleiFABW .navbar.navbar-short .navbar-brand {
  min-height: auto;
}
@media (min-width: 1600px) {
  .cid-t4dleiFABW .navbar {
    min-height: 140px !important;
  }
}
.cid-t4dleiFABW .navbar .container {
  flex-grow: 1;
  transition: .5s all !important;
}
.cid-t4dleiFABW .navbar-brand {
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-t4dleiFABW .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-t4dleiFABW .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-t4dleiFABW .dropdown-item.active,
.cid-t4dleiFABW .dropdown-item:active {
  background-color: transparent;
}
.cid-t4dleiFABW .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-t4dleiFABW .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-t4dleiFABW .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-t4dleiFABW .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #fbfbfb;
}
.cid-t4dleiFABW .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-t4dleiFABW .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-t4dleiFABW ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-t4dleiFABW .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-t4dleiFABW button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-t4dleiFABW button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-t4dleiFABW button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-t4dleiFABW button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-t4dleiFABW button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-t4dleiFABW button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-t4dleiFABW nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-t4dleiFABW nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-t4dleiFABW nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-t4dleiFABW nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-t4dleiFABW .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-t4dleiFABW a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-t4dleiFABW .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-t4dleiFABW .navbar {
    height: 70px;
  }
  .cid-t4dleiFABW .navbar.opened {
    height: auto;
  }
  .cid-t4dleiFABW .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-t4dleiFABW .nav-head {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem 30px !important;
}
.cid-t4dleiFABW .main-navbar-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.cid-t4dleiFABW .main-navbar-nav .nav-item {
  display: flex;
  flex-wrap: wrap;
}
.cid-t4dleiFABW .main-navbar-nav .nav-link {
  padding: 1rem;
}
@media (max-width: 991px) {
  .cid-t4dleiFABW .main-navbar-nav {
    display: none;
  }
}
.cid-t4dleiFABW .navbar-nav .dropdown-menu {
  position: absolute !important;
}
.cid-t4dleiFABW .navbar.navbar-short {
  min-height: 64px !important;
}
@media (min-width: 1600px) {
  .cid-t4dleiFABW .navbar.navbar-short {
    min-height: 140px !important;
  }
}
.cid-t4dleiFABW .navbar-collapse {
  height: 100%;
  flex-grow: 1;
  width: 100%;
  padding: 1rem 4rem;
  display: none;
  flex-wrap: nowrap;
  align-items: stretch;
}
@media (max-width: 767px) {
  .cid-t4dleiFABW .navbar-collapse {
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1rem 30px 1rem;
  }
}
.cid-t4dleiFABW .navbar-collapse .navbar-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 33.33333333%;
  flex-grow: 1;
  border: 1px solid #000000;
  border-right: none;
  max-height: 80vh;
  overflow: auto;
}
.cid-t4dleiFABW .navbar-collapse .navbar-nav:nth-child(3) {
  border-right: 1px solid #000000;
}
@media (max-width: 767px) {
  .cid-t4dleiFABW .navbar-collapse .navbar-nav {
    width: 100%;
    height: 100%;
    max-height: 40vh;
    border: 1px solid #000000 !important;
  }
  .cid-t4dleiFABW .navbar-collapse .navbar-nav:nth-child(3) {
    display: none;
  }
}
.cid-t4dleiFABW .navbar-collapse .navbar-nav .nav-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  margin: 0;
  padding: 1rem;
  flex-grow: 1;
}
.cid-t4dleiFABW .navbar-collapse .navbar-nav .nav-item .nav-link {
  justify-content: flex-start;
  width: 100%;
  padding: 0.5rem 0;
  margin-top: 0.5rem;
  margin-bottom: 0;
}
.cid-t4dleiFABW .navbar-collapse .main-navbar-nav .nav-link:hover {
  color: #ee2524 !important;
}
.cid-t4dleiFABW .navbar.opened {
  min-height: 100vh !important;
  max-height: 100vh !important;
}
.cid-t4dleiFABW .navbar.opened .container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-wrap: nowrap;
}
.cid-t4dleiFABW .navbar.opened .nav-head {
  margin-bottom: auto;
}
.cid-t4dleiFABW .navbar.opened .navbar-collapse.show {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-grow: 1;
  max-height: none;
}
.cid-t4dliiRNmu {
  background-image: url("..//images/bg.jpeg");
}
.cid-t4dliiRNmu .mbr-fallback-image.disabled {
  display: none;
}
.cid-t4dliiRNmu .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-t4dliiRNmu .row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 767px) {
  .cid-t4dliiRNmu .row {
    flex-wrap: wrap;
  }
}
.cid-t4dliiRNmu .text-container {
  width: 57% !important;
  width: 100% !important;
}
@media (max-width: 767px) {
  .cid-t4dliiRNmu .text-container {
    width: 100% !important;
  }
}
.cid-t4dliiRNmu .mbr-section-title {
  color: #ffffff;
}
.cid-t4dliiRNmu .colored-text {
  line-height: inherit;
  font-weight: inherit;
  color: inherit;
  color: #66d966;
}
.cid-t4dliiRNmu .mbr-text {
  width: 68%;
  margin-top: 1.2em;
  color: #000000;
}
@media (max-width: 991px) {
  .cid-t4dliiRNmu .mbr-text {
    width: 83%;
    margin-top: 1rem;
  }
}
@media (max-width: 767px) {
  .cid-t4dliiRNmu .mbr-text {
    width: 100%;
  }
}
.cid-t4dliiRNmu .card-col {
  display: flex;
  width: 43% !important;
  justify-content: flex-start;
}
@media (max-width: 767px) {
  .cid-t4dliiRNmu .card-col {
    width: 100% !important;
    justify-content: center;
  }
}
.cid-t4dliiRNmu .card-wrapper {
  display: flex;
  margin-left: 8em;
  justify-content: flex-start;
}
@media (max-width: 991px) {
  .cid-t4dliiRNmu .card-wrapper {
    margin-left: 1em;
  }
}
@media (max-width: 767px) {
  .cid-t4dliiRNmu .card-wrapper {
    margin-top: 4em;
    margin-left: 0;
    justify-content: center;
  }
}
.cid-t4dliiRNmu .card-box {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 18em;
  max-height: 18em;
  width: 18em;
  height: 18em;
  border-radius: 50%;
  background-color: transparent;
  position: relative;
}
.cid-t4dliiRNmu .card-box .bg-hover {
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  transform: scale(0);
  transition: .5s all;
}
.cid-t4dliiRNmu .card-box .mbr-iconfont {
  position: relative;
  z-index: 100;
  display: block;
  font-size: 6.5rem;
  color: #EE2524;
  transition: .5s all;
  cursor: pointer;
}
.cid-t4dliiRNmu .card-box:hover .bg-hover {
  transform: scale(1);
}
.cid-t4dliiRNmu .card-box:hover .mbr-iconfont {
  transform: rotate(-45deg);
}
.cid-t4dliiRNmu .item-img {
  position: absolute;
  border-radius: 50%;
  overflow: hidden;
  transition: .5s all;
  top: 1.5em;
  left: 1.5em;
  max-width: 15em;
  max-height: 15em;
  width: 100%;
  height: 100%;
  animation: img-move 5s infinite linear both;
  cursor: pointer;
}
.cid-t4dliiRNmu .item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@keyframes img-move {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.cid-t4dliiRNmu .mbr-text,
.cid-t4dliiRNmu .mbr-section-btn {
  color: #ffffff;
}
.cid-t4dyW9yWGp {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #fbfbfb;
}
.cid-t4dyW9yWGp .container {
  max-width: 100% !important;
}
.cid-t4dyW9yWGp .mbr-section-head {
  padding: 1rem 2.5%;
  border-top: 1px solid #7c0046;
}
.cid-t4dyW9yWGp .mbr-section-title {
  color: #000000;
  width: 100%;
}
.cid-t4dyW9yWGp .mbr-section-subtitle {
  color: #000000;
  width: 100%;
}
.cid-t4dyW9yWGp .cards-row {
  border-top: 1px solid #7c0046;
  border-bottom: 1px solid #7c0046;
  display: flex;
  align-items: stretch;
}
.cid-t4dyW9yWGp .card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20% !important;
  transition: all 0.3s;
  height: fit-content;
  padding: 4em 0;
  border-bottom: 1px solid #7c0046;
  border-right: 1px solid #7c0046;
  border-radius: 0 !important;
  margin-bottom: -1px;
}
.cid-t4dyW9yWGp .card:nth-child(6) {
  border-left: 1px solid #7c0046;
}
.cid-t4dyW9yWGp .card:nth-child(5n) {
  border-right: none;
}
.cid-t4dyW9yWGp img {
  width: 4em;
  height: auto;
  margin: auto;
  max-width: 100%;
}
.cid-t4dEvj3lf7 {
  padding-top: 6rem;
  padding-bottom: 0rem;
  background-color: #fbfbfb;
}
.cid-t4dEvj3lf7 .mbr-fallback-image.disabled {
  display: none;
}
.cid-t4dEvj3lf7 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-t4dEvj3lf7 .row {
  justify-content: flex-start;
}
.cid-t4dEvj3lf7 .mbr-section-title {
  color: #000000;
  width: 100%;
  margin-bottom: 4rem;
}
.cid-t4dEvj3lf7 .item-wrap {
  width: 100%;
  margin-bottom: 2rem;
}
.cid-t4dEvj3lf7 .mbr-section-subtitle {
  color: #000000;
  width: 100%;
  text-align: center;
}
.cid-t4dEvj3lf7 .mbr-text {
  color: #000000;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.cid-t4dza2X4A6 {
  padding-top: 1rem;
  padding-bottom: 6rem;
  background-color: #fbfbfb;
}
.cid-t4dza2X4A6 .mbr-fallback-image.disabled {
  display: none;
}
.cid-t4dza2X4A6 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-t4dza2X4A6 .row {
  justify-content: flex-start;
}
.cid-t4dza2X4A6 .grid-container {
  display: grid;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 3rem;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  padding: 0;
}
@media (max-width: 991px) {
  .cid-t4dza2X4A6 .grid-container {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 767px) {
  .cid-t4dza2X4A6 .grid-container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
.cid-t4dza2X4A6 .main-col {
  position: relative;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  max-width: 28rem;
  width: 100%;
  margin-right: auto;
  overflow: hidden;
  background-color: #fbfbfb;
  border: 1px solid #000000;
}
@media (min-width: 992px) {
  .cid-t4dza2X4A6 .main-col {
    min-height: 28.4rem;
  }
}
.cid-t4dza2X4A6 .main-col:hover {
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
}
@media (max-width: 991px) {
  .cid-t4dza2X4A6 .main-col {
    max-width: 334px;
  }
}
@media (max-width: 767px) {
  .cid-t4dza2X4A6 .main-col {
    max-width: 100%;
  }
}
.cid-t4dza2X4A6 .item-wrapper {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  bottom: auto;
  width: 100%;
  height: 100%;
  transition: all .5s  ease !important;
  position: relative;
}
.cid-t4dza2X4A6 .img-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  flex-grow: 1;
  height: 21rem;
  position: absolute;
  bottom: 7.4rem;
  transition: all .5s  ease !important;
}
@media (max-width: 991px) {
  .cid-t4dza2X4A6 .img-container {
    position: sticky;
    height: 240px;
  }
}
.cid-t4dza2X4A6 .title-container {
  position: absolute;
  width: 100%;
  bottom: 0;
  transform: translateY(calc(100% - 7.4rem));
  transition: all .5s  ease !important;
  border-top: 1px solid #000000;
  background-color: #fbfbfb;
}
@media (max-width: 991px) {
  .cid-t4dza2X4A6 .title-container {
    position: sticky;
    transform: translateY(0);
  }
}
.cid-t4dza2X4A6 .head-content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  padding: 1rem;
}
@media (min-width: 992px) {
  .cid-t4dza2X4A6 .head-content {
    min-height: 7.4rem;
  }
}
@media (max-width: 991px) {
  .cid-t4dza2X4A6 .head-content {
    padding: 12px;
  }
}
.cid-t4dza2X4A6 .foot-content {
  width: 100%;
  padding: 0 1rem 1rem 1rem;
  transition: all .5s  ease !important;
}
@media (max-width: 991px) {
  .cid-t4dza2X4A6 .foot-content {
    padding: 0 12px 12px 12px;
  }
}
@media (min-width: 992px) {
  .cid-t4dza2X4A6 .main-col:hover .img-container {
    bottom: 13.4rem;
  }
  .cid-t4dza2X4A6 .main-col:hover .title-container {
    transform: translateY(0);
  }
}
.cid-t4dza2X4A6 .mbr-section-title {
  color: #000000;
  width: 100%;
}
.cid-t4dza2X4A6 .mbr-text {
  color: #000000;
  width: 100%;
}
.cid-t4dza2X4A6 .price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
.cid-t4dza2X4A6 .price-name {
  color: #727272;
}
.cid-t4dza2X4A6 .price-number {
  color: #000000;
}
.cid-t4dza2X4A6 .mbr-section-btn {
  margin-top: 1.4rem;
  width: 100%;
}
.cid-t4dza2X4A6 .mbr-section-btn .btn {
  padding: 12px 36px;
}
@media (max-width: 768px) {
  .cid-t4dza2X4A6 .mbr-section-btn .btn {
    width: 100%;
  }
}
.cid-t4dza2X4A6 .img-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}
.cid-t4dza2X4A6 .img-wrap img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  min-height: 100%;
  transition: .5s all;
  transform-style: preserve-3d;
}
.cid-t4dEMlcR1r {
  padding-top: 0rem;
  padding-bottom: 6rem;
  background-color: #fbfbfb;
}
.cid-t4dEMlcR1r .mbr-fallback-image.disabled {
  display: none;
}
.cid-t4dEMlcR1r .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-t4dEMlcR1r .row {
  justify-content: flex-start;
}
.cid-t4dEMlcR1r .main-col {
  display: flex;
  align-items: stretch;
  border: 1px solid #000000;
}
@media (max-width: 767px) {
  .cid-t4dEMlcR1r .main-col {
    flex-wrap: wrap;
    min-height: auto;
  }
}
.cid-t4dEMlcR1r .title-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 35%;
  padding: 2rem;
  background-color: #7c0046;
}
@media (max-width: 991px) {
  .cid-t4dEMlcR1r .title-container {
    padding: 24px;
  }
}
@media (max-width: 767px) {
  .cid-t4dEMlcR1r .title-container {
    width: 100%;
  }
}
@media (max-width: 575px) {
  .cid-t4dEMlcR1r .title-container {
    padding: 12px;
  }
}
.cid-t4dEMlcR1r .content-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 65%;
  flex-grow: 1;
}
@media (max-width: 767px) {
  .cid-t4dEMlcR1r .content-container {
    width: 100%;
  }
}
.cid-t4dEMlcR1r .mbr-section-title {
  color: #ffffff;
  width: 100%;
}
.cid-t4dEMlcR1r .mbr-text {
  color: #ffffff;
  width: 100%;
}
.cid-t4dEMlcR1r .mbr-section-btn {
  margin-top: auto;
  width: 100%;
}
.cid-t4dEMlcR1r .img-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  border: 1px solid #000000;
}
.cid-t4dEMlcR1r .img-wrap img {
  flex-grow: 1;
  object-fit: cover;
  height: 40rem;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}
@media (max-width: 991px) {
  .cid-t4dEMlcR1r .img-wrap img {
    height: 480px;
  }
}
@media (max-width: 767px) {
  .cid-t4dEMlcR1r .img-wrap img {
    height: auto;
  }
}
.cid-t4dFnDI1n7 {
  padding-top: 0rem;
  padding-bottom: 6rem;
  background-color: #fbfbfb;
}
.cid-t4dFnDI1n7 .mbr-fallback-image.disabled {
  display: none;
}
.cid-t4dFnDI1n7 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-t4dFnDI1n7 .row {
  justify-content: flex-start;
}
.cid-t4dFnDI1n7 .main-col {
  display: flex;
  align-items: stretch;
  border: 1px solid #000000;
  flex-direction: row-reverse;
}
@media (max-width: 767px) {
  .cid-t4dFnDI1n7 .main-col {
    flex-wrap: wrap;
    min-height: auto;
  }
}
.cid-t4dFnDI1n7 .title-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 35%;
  padding: 2rem;
  background-color: #7c0046;
}
@media (max-width: 991px) {
  .cid-t4dFnDI1n7 .title-container {
    padding: 24px;
  }
}
@media (max-width: 767px) {
  .cid-t4dFnDI1n7 .title-container {
    width: 100%;
  }
}
@media (max-width: 575px) {
  .cid-t4dFnDI1n7 .title-container {
    padding: 12px;
  }
}
.cid-t4dFnDI1n7 .content-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 65%;
  flex-grow: 1;
}
@media (max-width: 767px) {
  .cid-t4dFnDI1n7 .content-container {
    width: 100%;
  }
}
.cid-t4dFnDI1n7 .mbr-section-title {
  color: #ffffff;
  width: 100%;
}
.cid-t4dFnDI1n7 .mbr-text {
  color: #ffffff;
  width: 100%;
}
.cid-t4dFnDI1n7 .mbr-section-btn {
  margin-top: auto;
  width: 100%;
}
.cid-t4dFnDI1n7 .img-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  border: 1px solid #000000;
}
.cid-t4dFnDI1n7 .img-wrap img {
  flex-grow: 1;
  object-fit: cover;
  height: 40rem;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}
@media (max-width: 991px) {
  .cid-t4dFnDI1n7 .img-wrap img {
    height: 480px;
  }
}
@media (max-width: 767px) {
  .cid-t4dFnDI1n7 .img-wrap img {
    height: auto;
  }
}
.cid-t4dFZdFtEp {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../images/pexels-anna-nekrashevich-7552373.jpg");
}
.cid-t4dFZdFtEp .mbr-fallback-image.disabled {
  display: none;
}
.cid-t4dFZdFtEp .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-t4dFZdFtEp .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.cid-t4dFZdFtEp .text-container {
  width: 100% !important;
}
.cid-t4dFZdFtEp .mbr-section-title {
  color: #000000;
  text-align: left;
}
.cid-t4dFZdFtEp .mbr-section-title-2 {
  color: #9d095d;
  text-align: left;
}
.cid-t4dFZdFtEp .content-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 8rem;
  width: 100%;
  padding: 0;
}
@media (max-width: 767px) {
  .cid-t4dFZdFtEp .content-container {
    margin-top: 4rem;
    flex-wrap: wrap;
  }
}
.cid-t4dFZdFtEp .mbr-section-subtitle {
  width: 30%;
  color: #727272;
  width: 100%;
}
@media (max-width: 767px) {
  .cid-t4dFZdFtEp .mbr-section-subtitle {
    width: 100%;
    padding: 12px 0;
  }
}
.cid-t4dFZdFtEp .mbr-text {
  width: 40%;
  color: #000000;
  width: 100% !important;
}
@media (max-width: 991px) {
  .cid-t4dFZdFtEp .mbr-text {
    width: 60%;
  }
}
@media (max-width: 767px) {
  .cid-t4dFZdFtEp .mbr-text {
    width: 100%;
    margin-top: 18px !important;
  }
}
.cid-t4dIyrTIxj {
  padding-top: 0px;
  padding-bottom: 30px;
  background-color: #fbfbfb;
}
.cid-t4dIyrTIxj .mbr-fallback-image.disabled {
  display: none;
}
.cid-t4dIyrTIxj .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-t4dIyrTIxj .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.cid-t4dIyrTIxj .text-container {
  width: 100% !important;
}
.cid-t4dIyrTIxj .mbr-section-title {
  color: #000000;
}
.cid-t4dIyrTIxj .mbr-section-title-2 {
  color: #EE2524;
}
.cid-t4dIyrTIxj .content-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 8rem;
  width: 100%;
  padding: 0;
}
@media (max-width: 767px) {
  .cid-t4dIyrTIxj .content-container {
    margin-top: 4rem;
    flex-wrap: wrap;
  }
}
.cid-t4dIyrTIxj .mbr-section-subtitle {
  width: 30%;
  color: #727272;
}
@media (max-width: 767px) {
  .cid-t4dIyrTIxj .mbr-section-subtitle {
    width: 100%;
    padding: 12px 0;
  }
}
.cid-t4dIyrTIxj .mbr-text {
  width: 40%;
  color: #000000;
}
@media (max-width: 991px) {
  .cid-t4dIyrTIxj .mbr-text {
    width: 60%;
  }
}
@media (max-width: 767px) {
  .cid-t4dIyrTIxj .mbr-text {
    width: 100%;
    margin-top: 18px !important;
  }
}
.cid-t4dI7FSQ8c {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #fbfbfb;
}
.cid-t4dI7FSQ8c .row {
  align-items: center;
  width: 100%;
}
.cid-t4dI7FSQ8c .title-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 0 !important;
  margin-bottom: 4rem;
}
@media (max-width: 767px) {
  .cid-t4dI7FSQ8c .title-container {
    margin-bottom: 0;
  }
}
.cid-t4dI7FSQ8c .title-text {
  margin-right: auto;
  max-width: 45%;
}
.cid-t4dI7FSQ8c .main-title {
  color: #727272;
  text-align: left;
}
.cid-t4dI7FSQ8c .main-subtitle {
  color: #727272;
}
.cid-t4dI7FSQ8c .title-btn {
  max-width: 45%;
  margin-bottom: -0.6rem;
}
.cid-t4dI7FSQ8c .grid-container {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  padding: 0;
  margin-bottom: 1rem;
}
@media (max-width: 991px) {
  .cid-t4dI7FSQ8c .grid-container {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 767px) {
  .cid-t4dI7FSQ8c .grid-container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
.cid-t4dI7FSQ8c .img-container {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 333px;
  filter: saturate(0%);
  transition: .5s all;
}
@media (max-width: 991px) {
  .cid-t4dI7FSQ8c .img-container {
    height: 240px;
  }
}
.cid-t4dI7FSQ8c .img-container img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1);
  transition: .5s all;
  transform-style: preserve-3d;
}
.cid-t4dI7FSQ8c .content-container {
  display: flex;
  padding: 0 !important;
}
@media (max-width: 767px) {
  .cid-t4dI7FSQ8c .content-container {
    margin-top: 4rem;
  }
}
.cid-t4dI7FSQ8c .content-container:hover .img-container {
  filter: saturate(90%);
}
.cid-t4dI7FSQ8c .content-container:hover .img-container img {
  transform: scale(1.04);
}
.cid-t4dI7FSQ8c .text-container {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.cid-t4dI7FSQ8c .text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  flex-grow: 1;
}
.cid-t4dI7FSQ8c .header-wrap {
  display: flex;
  align-items: flex-start;
  margin-bottom: 2rem;
  width: 100%;
  flex-wrap: wrap;
  flex-grow: 1;
}
.cid-t4dI7FSQ8c .mbr-section-title {
  width: 100%;
  color: #939292;
  margin-bottom: 0;
}
.cid-t4dI7FSQ8c .mbr-text {
  letter-spacing: inherit;
  color: #000000;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 0;
}
.cid-t4dI7FSQ8c .btn-container {
  margin-top: 1.4rem;
  width: 100%;
}
@media (max-width: 575px) {
  .cid-t4dI7FSQ8c .mbr-section-btn {
    display: flex;
    flex-wrap: wrap;
  }
  .cid-t4dI7FSQ8c .mbr-section-btn .btn {
    width: auto;
  }
}
.cid-t4dKCGFHSz {
  padding-top: 0rem;
  padding-bottom: 6rem;
  background-color: #fbfbfb;
}
.cid-t4dKCGFHSz .mbr-fallback-image.disabled {
  display: none;
}
.cid-t4dKCGFHSz .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-t4dKCGFHSz .row {
  justify-content: flex-start;
}
.cid-t4dKCGFHSz .mbr-section-title {
  color: #000000;
  width: 100%;
  margin-bottom: 4rem;
}
.cid-t4dKCGFHSz .item-wrap {
  width: 100%;
  margin-bottom: 2rem;
}
.cid-t4dKCGFHSz .mbr-section-subtitle {
  color: #7c0046;
  width: 100%;
}
.cid-t4dKCGFHSz .mbr-text {
  color: #727272;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.cid-t4dKCGFHSz .mbr-section-title,
.cid-t4dKCGFHSz .mbr-section-btn {
  text-align: center;
}
.cid-t4dLaQJaDb {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #7c0046;
  border-bottom: 1px solid #000000;
}
.cid-t4dLaQJaDb .mbr-fallback-image.disabled {
  display: none;
}
.cid-t4dLaQJaDb .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-t4dLaQJaDb .row {
  justify-content: flex-start;
}
.cid-t4dLaQJaDb .mbr-section-title {
  color: #000000;
  width: 100%;
}
.cid-t4dLaQJaDb .colored-text {
  line-height: inherit;
  font-weight: inherit;
  color: inherit;
  color: #ee2524;
}
.cid-t4dLaQJaDb .mbr-section-subtitle {
  color: #000000;
  width: 100%;
}
.cid-t4dLaQJaDb .mbr-text {
  color: #000000;
  width: 100%;
}
.cid-t4dLaQJaDb .mbr-section-btn {
  margin-top: 2.4rem;
}
.cid-t4dLaQJaDb .mbr-section-title,
.cid-t4dLaQJaDb .mbr-section-btn {
  color: #ffffff;
}
.cid-t4dLsrxS8I {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #fbfbfb;
  border-bottom: 1px solid #000000;
}
.cid-t4dLsrxS8I .mbr-fallback-image.disabled {
  display: none;
}
.cid-t4dLsrxS8I .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-t4dLsrxS8I .row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 767px) {
  .cid-t4dLsrxS8I .row {
    flex-wrap: wrap;
  }
}
.cid-t4dLsrxS8I .text-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
.cid-t4dLsrxS8I .contacts-container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  align-items: stretch;
  padding: 2rem 0;
}
.cid-t4dLsrxS8I .email-container {
  max-width: 49%;
  margin-right: auto;
}
.cid-t4dLsrxS8I .phone-container {
  max-width: 49%;
}
.cid-t4dLsrxS8I .mbr-text {
  color: #727272;
  margin-bottom: 22px;
}
.cid-t4dLsrxS8I .link-text {
  color: #000000;
  margin-bottom: 0;
}
.cid-t4dLsrxS8I .mbr-section-title {
  color: #000000;
  width: 100%;
}
.cid-t4dLsrxS8I .colored-text {
  line-height: inherit;
  font-weight: inherit;
  color: inherit;
  color: #7c0046;
}
.cid-t4dLBQ1kZC {
  padding-top: 1rem;
  padding-bottom: 5rem;
  background-color: #fbfbfb;
}
.cid-t4dLBQ1kZC .row {
  align-items: center;
  width: 100%;
}
.cid-t4dLBQ1kZC .title-container {
  width: 100%;
  padding: 0 !important;
  margin-bottom: 2rem;
}
.cid-t4dLBQ1kZC .title-text {
  width: 100%;
}
.cid-t4dLBQ1kZC .main-title {
  color: #727272;
  text-align: center;
}
.cid-t4dLBQ1kZC .main-subtitle {
  color: #727272;
}
.cid-t4dLBQ1kZC form .dragArea.row {
  justify-content: flex-start;
  width: auto !important;
}
.cid-t4dLBQ1kZC form .mbr-section-btn {
  margin-top: 20px;
  margin-right: 100%;
}
.cid-t4dLBQ1kZC form .mbr-section-btn .btn {
  width: max-content;
  min-width: 120px;
}
.cid-t4dLBQ1kZC form .form-group {
  margin-top: 32px !important;
  margin-bottom: 10px !important;
}
@media (max-width: 767px) {
  .cid-t4dLBQ1kZC form .form-group {
    margin-top: 1rem!important;
  }
}
.cid-t4dLBQ1kZC form .form-control {
  border: 1px solid #000000 !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  margin-bottom: 0;
  padding: 12px;
  font-size: 16px;
  line-height: 24px;
  color: #939292;
  font-weight: 400;
}
.cid-t4dLBQ1kZC form .form-control::-webkit-input-placeholder {
  color: #939292;
}
.cid-t4dLBQ1kZC form .form-control::-moz-placeholder {
  color: #939292;
}
.cid-t4dLBQ1kZC form .form-control:-moz-placeholder {
  color: #939292;
}
.cid-t4dLBQ1kZC form .form-control:-ms-input-placeholder {
  color: #939292;
}
.cid-t4dLBQ1kZC form select {
  color: #000000 !important;
}
.cid-t4dLBQ1kZC form textarea {
  height: 100px;
}
.cid-t4dLBQ1kZC form input,
.cid-t4dLBQ1kZC form textarea {
  background-color: transparent !important;
}
.cid-t4dLBQ1kZC form input:active,
.cid-t4dLBQ1kZC form textarea:active,
.cid-t4dLBQ1kZC form input:focus,
.cid-t4dLBQ1kZC form textarea:focus {
  border-color: #ee2524 !important;
}
.cid-t4dLBQ1kZC form input:active::-webkit-input-placeholder,
.cid-t4dLBQ1kZC form textarea:active::-webkit-input-placeholder,
.cid-t4dLBQ1kZC form input:focus::-webkit-input-placeholder,
.cid-t4dLBQ1kZC form textarea:focus::-webkit-input-placeholder {
  color: #939292;
}
.cid-t4dLBQ1kZC form input:active::-moz-placeholder,
.cid-t4dLBQ1kZC form textarea:active::-moz-placeholder,
.cid-t4dLBQ1kZC form input:focus::-moz-placeholder,
.cid-t4dLBQ1kZC form textarea:focus::-moz-placeholder {
  color: #939292;
}
.cid-t4dLBQ1kZC form input:active:-moz-placeholder,
.cid-t4dLBQ1kZC form textarea:active:-moz-placeholder,
.cid-t4dLBQ1kZC form input:focus:-moz-placeholder,
.cid-t4dLBQ1kZC form textarea:focus:-moz-placeholder {
  color: #939292;
}
.cid-t4dLBQ1kZC form input:active:-ms-input-placeholder,
.cid-t4dLBQ1kZC form textarea:active:-ms-input-placeholder,
.cid-t4dLBQ1kZC form input:focus:-ms-input-placeholder,
.cid-t4dLBQ1kZC form textarea:focus:-ms-input-placeholder {
  color: #939292;
}
.cid-t4dLBQ1kZC form .row {
  margin-left: -2% !important;
  margin-right: -2% !important;
}
.cid-t4dLBQ1kZC form .row [class*=col] {
  padding-left: 2% !important;
  padding-right: 2% !important;
}
.cid-t4dLBQ1kZC form label {
  width: 100%;
  color: #000000;
  margin-bottom: 1rem;
}
.cid-t4dLBQ1kZC form .form-check-input {
  border-color: #000000 !important;
  outline: none !important;
  box-shadow: none !important;
}
.cid-t4dLBQ1kZC form .form-check-input:focus,
.cid-t4dLBQ1kZC form .form-check-input:hover {
  border-color: #ee2524 !important;
}
.cid-t4dLBQ1kZC form .form-check-input:checked {
  border-color: #ee2524 !important;
  background-color: #ee2524 !important;
}
.cid-t4dLBQ1kZC LABEL {
  color: #fbfbfb;
  text-align: left;
}
.cid-t4dLXf4vrf {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #ca408e;
}
.cid-t4dLXf4vrf .mbr-fallback-image.disabled {
  display: none;
}
.cid-t4dLXf4vrf .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-t4dLXf4vrf .logo-container {
  max-width: 33.33333333%;
  padding-right: 1rem;
  margin-right: auto;
}
@media (max-width: 767px) {
  .cid-t4dLXf4vrf .logo-container {
    width: 100%;
    padding-right: 0;
    max-width: 100%;
    order: 3;
    justify-content: center !important;
  }
}
.cid-t4dLXf4vrf .navbar-brand {
  display: flex;
  flex-basis: auto;
  word-break: break-word;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  margin-bottom: 0;
  padding: 0;
  transition: all 0.3s;
  z-index: 1;
  white-space: normal;
}
.cid-t4dLXf4vrf .navbar-brand .navbar-logo {
  margin-right: 0.5rem;
}
.cid-t4dLXf4vrf .navbar-brand .navbar-logo img {
  width: auto;
}
.cid-t4dLXf4vrf .navbar-brand .navbar-caption {
  line-height: inherit !important;
  font-weight: 500;
}
.cid-t4dLXf4vrf .navbar-brand .navbar-logo a {
  outline: none;
}
@media (max-width: 767px) {
  .cid-t4dLXf4vrf .navbar-brand {
    justify-content: center !important;
  }
}
.cid-t4dLXf4vrf .social-row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  padding-left: 1rem;
  margin-left: auto;
  max-width: 33.33333333%;
}
@media (max-width: 768px) {
  .cid-t4dLXf4vrf .social-row {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    padding-left: 0;
    justify-content: center;
    order: 1;
    margin-left: -0.75rem;
  }
}
.cid-t4dLXf4vrf .soc-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.75rem;
}
.cid-t4dLXf4vrf .mbr-iconfont {
  color: #000000;
  font-size: 18px;
}
.cid-t4dLXf4vrf .copyright-col {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .cid-t4dLXf4vrf .copyright-col {
    flex-direction: column;
  }
}
.cid-t4dLXf4vrf .copyright {
  color: #000000;
  flex-grow: 1;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-t4dLXf4vrf .copyright {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem !important;
    order: 2;
    text-align: center;
  }
}
